.home-footer {
  position: absolute;
  bottom: 0;
  height: 7rem;
  width: 100%;
  background-image: linear-gradient(to right, rgba(red, 1), rgba(#390207, 1));
  z-index: 3;
  h1 {
    margin-left: 25%;
  }
}
