.auth {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(#000, .65), rgba(#000, .65)),url("../../assets/cover-1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
