.auth {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
    url("../../assets/cover-2.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
