.auth {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
    url("../../assets/large.jpeg");
  // background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
  //   url("../../assets/cover-1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__icon {
    height: 5rem;
    width: 5rem;
    color: white;
    background-color: var(--color-primary);
  }
}
.auth__content {
  background-color: rgba($color: #000000, $alpha: 0.15);
  width: 40vw;
  backdrop-filter: blur(10px);
}
