.search-page {
  color: white;
  & > h3 {
    margin: 3rem 0;
  }
}
.search-genres {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.5rem;
  padding-bottom: 10rem;
  .search-box {
    position: relative;
    height: 20rem;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
  }
  img {
    height: 13rem;
    width: 13rem;
    transform: rotate(25deg) translate(18%, -2%);
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
//search result
.search-result {
  &-header {
    display: flex;
  }
  &-main {
    flex: 0 0 48%;
    padding: 2rem;
    margin-right: 4rem;
    background-color: #1f1f1f;
    &:hover {
      background-color: #282828;
    }
    img {
      height: 9.5rem;
      width: 9.5rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
  &-options {
    flex: 1;
  }
  &-cat {
    background-color: #202020;
    padding: 0.35rem 1rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    margin-left: 1.5rem;
  }
  &-artist {
    text-decoration: none;
    color: #aaa;
  }
  &-body {
    margin-top: 4rem;
    h3 {
      margin-bottom: 2rem;
    }
  }
}
.blank-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-result-boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}
