.playlist-header {
  display: flex;
  color: white;
  img {
    height: 23rem;
    width: 23rem;
  }
  &-content {
    margin-left: 3rem;
    padding-top: 3rem;
  }
  &-title {
    font-size: 6rem;
  }
  p {
    margin-bottom: 1rem;
  }
}
.playlist-action {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  button {
    margin-right: 3rem;
    &:not(:first-of-type) {
      color: white;
      font-size: 3.3rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
