.cards {
  margin-bottom: 3rem;
  &-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
  }
  &-header {
    color: white;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #b3b3b3;
      font-size: 90%;
      font-weight: 600;
    }
  }
}
