.song-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  color: rgba($color: #fff, $alpha: 0.7);
  &-title {
    margin-left: 1rem;
    margin-right: auto;
    // font-size: 90%;
  }
  &-img {
    height: 4rem;
    width: 4rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &-hidden {
    padding: 0 2rem;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing: border-box;
  }
  &:hover {
    background-color: #282828;
  }
  &:hover &-hidden {
    opacity: 1;
  }
}
