.song-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  color: rgba($color: #fff, $alpha: 0.7);
  &-title {
    margin-left: 1rem;
    margin-right: auto;
    // font-size: 90%;
  }
  &-index {
    margin-right: 1.5rem;
  }
  &-img {
    height: 4rem;
    width: 4rem;
    position: relative;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &-hidden {
    padding: 0 2rem;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing: border-box;
  }
  &:hover {
    background-color: #282828;
  }
  &:hover &-hidden {
    opacity: 1;
  }
  &-play-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    padding-top: 1rem;
  }
  &:hover &-play-icon {
    display: block;
  }
}
