@import "../../variables";
.header {
  position: fixed;
  z-index: 2;
  margin-left: $left-margin;
  width: calc(100% - $left-margin);
  background-color: #101010;
  text-align: right;
  padding: 1rem 0;
  .btn {
    &:first-of-type {
      margin-right: 2rem;
    }
  }
  &-search {
    float: left;
  }
}
