@import "../../variables";
.header {
  position: fixed;
  z-index: 2;
  margin-left: $left-margin;
  width: calc(100% - $left-margin);
  background-color: #101010;
  text-align: right;
  padding: 1rem 0;
  .btn {
    &:first-of-type {
      margin-right: 2rem;
    }
  }
  &-search {
    margin-bottom: -0.7rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: white;
    width: 30rem;
    margin-left: 3rem;
    float: left;
    height: 3rem;
    border-radius: 1.4rem;
    input {
      border: none;
      margin-left: 0;
      padding-left: 1rem;
      &:focus {
        outline: none;
      }
    }
    span {
      color: #ddd;
      transform: translateY(0.5rem);
      padding-right: 1rem;
    }
  }
}
