:root {
  --color-primary: #dc1d24;
  --left-margin: 20%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
.mb-s {
  margin-bottom: 1rem;
}
.mb-m {
  margin-bottom: 1.5rem;
}
.mb-l {
  margin-bottom: 2rem;
}

.mb-xl {
  margin-bottom: 4rem;
}
.loader-container {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #100f13;
}
@media (min-width: 1200px) {
}
@media (max-width: 900px) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

.slick-slide > div {
  margin: 0 5px;
}
.slick-list {
  margin: 0 -5px;
}
