* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.mb-s {
  margin-bottom: 1rem;
}
.mb-m {
  margin-bottom: 1.5rem;
}
.mb-l {
  margin-bottom: 2rem;
}

.mb-xl {
  margin-bottom: 4rem;
}
.btn {
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 2rem;
  &--ghost {
    border: 1px solid;
  }
  &--full {
    background-color: white;
    // background-color: $color-primary;
    // border: 1px solid $color-primary;
    border: 1px solid white;
    color: black;
  }
}
